body.secret-background {
    background-color: rgb(79 70 229);
    background: linear-gradient(to right, #bc41b8, #655ce8);
    min-height: 100vh;
    margin: 0;
}

body.home-background,

body.game-background {
    background-color: rgb(53, 52, 52);
    min-height: 100vh;
    margin: 0;
}

.secret-page {
    min-height: 100vh;
    padding: 24px 16px;
}
